body{
	font-family: 'Open Sans',sans-serif;
	background-color: white;
}
#container{
	width: 1000px;
    height: 700px;
	margin: 20px auto;	
}
#calculator{
	width: 320px;
	height: 550px;
	background-color: rgb(204, 204, 204);
	margin: 0 auto;
	top: 20px;
	position: relative;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#result{
	height: 120px;
}
#history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: black;
}
#output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 30px;
}
#keyboard{
	height: 500px;
}
.operator, .number, .empty{
	width: 50px;
	height: 50px;
	margin: 15px;
	float: left;
    border-width: 0;
    border-radius: 10%;
    border-color: white;
    font-weight: bold;
	font-size: 20px;
}
.number, .empty{
    background-color: gray;
    color: white;
    font-weight: 200;
}
.operator{
    background-color:rgb(92, 86, 86));
}
.number, .empty{
	background-color: rgb(0, 0, 0);
}
.number, .operator{
	cursor: pointer;
}
.operator:active, .number:active{
	font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus{
	outline: 0;
}
button:nth-child(1){
	font-size: 20px;
    color: Red;
    font-weight: bold;
}
button:nth-child(20){
    font-size: 20px;
    background-color: orange;
    color: white;
}